<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMARTFIT</title>
    <link rel="stylesheet" href="../static/fonts/stylesheet.css">
    <link rel="stylesheet" href="../static/css/SF_main.css">
    <link rel="stylesheet" href="../static/css/SF_components.css">
    <link rel="stylesheet" href="../static/css/SF_lk.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
</head>
<body>
<header {% if user.is_authenticated %}class="header logged"{% else %}class="header"{% endif %}>
    <div class="modal-background modal-disabled" id='login-modal-background'></div>
    <div class="modal modal-disabled" id='login-modal-box'>
        <div class="modal-content">
            <div class="modal-close" onclick=loginModal()>
                <img src='../static/images/modal-cross.svg' alt="" class="modal-close-img">
            </div>
            <div class="login-modal">
                <form action="{% url 'login' %}" method="post">{% csrf_token %}
                    <div class="login-modal__top">
                        <h2 class="modal-title">
                            Вход в аккаунт
                        </h2>
                    </div>
                    <div class="login-modal__content">
                        <label class="text-field__label">
                            Ваш логин
                            <div class="text-field__box">
                                <input type="text" class='text-field' placeholder="Адрес электронной почты"
                                       name="email">
                            </div>
                        </label>
                        <label class="text-field__label">
                            Ваш пароль
                            <div class="text-field__box">
                                <input type="text" class='text-field' placeholder="Пароль" name="password">
                            </div>
                        </label>
                    </div>
                    <button class='button login-modal__button' type="submit">
                        <div class="button__inner">
                            Войти в аккаунт
                        </div>
                    </button>
                    <p class="login-modal__bottom">У вас нет аккаунта? <a href="{% url "start" %}"
                                                                          class="login-modal__link">Создать</a></p>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-background modal-disabled" id='first-modal-background'></div>
    <div class="modal modal-disabled" id='first-modal-box'>
        <div class="modal-content">
            <div class="modal-close" onclick=firstModal()>
                <img src='../static/images/modal-cross.svg' alt="" class="modal-close-img">
            </div>
            <div class="buy-modal">
                <h2 class="modal-title buy-modal__title">Вечная подписка</h2>
                <div class="buy-modal__box">
                    <label class="text-field__label">
                        Ваша почта
                        <div class="text-field__box">
                            <input type="text" class='text-field ' placeholder="Адрес электронной почты">
                        </div>
                    </label>
                    <label class="text-field__label">
                        Ваш телефон
                        <div class="text-field__box">
                            <input type="text" class='text-field ' placeholder="Номер телефона">
                        </div>
                    </label>
                    <label class="text-field__label">
                        Промокод
                        <div class="text-field__box">
                            <input type="text" class='text-field' placeholder='Промокод'>
                            <button class='button text-field__button'>
                                <div class="button__inner">
                                    ok
                                </div>
                            </button>
                        </div>
                    </label>
                </div>
                <div class="buy-modal__pricebox">
                    Стоимость:
                    <p class="buy-modal__old">12000 р</p>
                    <p class="buy-modal__price">9000 р</p>
                </div>
                <button class='button buy-modal__button'>
                    <div class="button__inner">
                        оплатить
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-background modal-disabled" id='second-modal-background'></div>
    <div class="modal modal-disabled" id='second-modal-box'>
        <div class="modal-content">
            <div class="modal-close" onclick=secondModal()>
                <img src='../static/images/modal-cross.svg' alt="" class="modal-close-img">
            </div>
            <div class="buy-modal">
                <h2 class="modal-title buy-modal__title">3 месяца</h2>
                <div class="buy-modal__box">
                    <label class="text-field__label">
                        Ваша почта
                        <div class="text-field__box">
                            <input type="text" class='text-field ' placeholder="Адрес электронной почты">
                        </div>
                    </label>
                    <label class="text-field__label">
                        Ваш телефон
                        <div class="text-field__box">
                            <input type="text" class='text-field ' placeholder="Номер телефона">
                        </div>
                    </label>
                    <label class="text-field__label">
                        Промокод
                        <div class="text-field__box">
                            <input type="text" class='text-field' placeholder='Промокод'>
                            <button class='button text-field__button'>
                                <div class="button__inner">
                                    ok
                                </div>
                            </button>
                        </div>
                    </label>
                </div>
                <div class="buy-modal__pricebox">
                    Стоимость:
                    <p class="buy-modal__old">12000 р</p>
                    <p class="buy-modal__price">9000 р</p>
                </div>
                <button class='button buy-modal__button'>
                    <div class="button__inner">
                        оплатить
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-background modal-disabled" id='third-modal-background'></div>
    <div class="modal modal-disabled" id='third-modal-box'>
        <div class="modal-content">
            <div class="modal-close" onclick=thirdModal()>
                <img src='../static/images/modal-cross.svg' alt="" class="modal-close-img">
            </div>
            <div class="buy-modal">
                <h2 class="modal-title buy-modal__title">3 месяца</h2>
                <div class="buy-modal__box">
                    <label class="text-field__label">
                        Ваша почта
                        <div class="text-field__box">
                            <input type="text" class='text-field ' placeholder="Адрес электронной почты">
                        </div>
                    </label>
                    <label class="text-field__label">
                        Ваш телефон
                        <div class="text-field__box">
                            <input type="text" class='text-field ' placeholder="Номер телефона">
                        </div>
                    </label>
                    <label class="text-field__label">
                        Промокод
                        <div class="text-field__box">
                            <input type="text" class='text-field' placeholder='Промокод'>
                            <button class='button text-field__button'>
                                <div class="button__inner">
                                    ok
                                </div>
                            </button>
                        </div>
                    </label>
                </div>
                <div class="buy-modal__pricebox">
                    Стоимость:
                    <p class="buy-modal__old">12000 р</p>
                    <p class="buy-modal__price">9000 р</p>
                </div>
                <button class='button buy-modal__button'>
                    <div class="button__inner">
                        оплатить
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="header__container wrapper">
        <a href="/" class="header__logo-link">
            <img src="../static/images/logo.svg" class="header__logo">
        </a>
        <div class="header__menu">
            <a href="{% url 'trainers' %}"
               {% if "trainers" in request.path %}class="header__item active"
               {% else %}class="header__item"{% endif %}>Тренеры</a>
            <a href="{% url 'programs' %}"
               {% if "programs" in request.path %}class="header__item active"
               {% else %}class="header__item"{% endif %}>Программы</a>
            <a href="{% url 'blog' %}"
               {% if "blog" in request.path %}class="header__item active"
               {% else %}class="header__item"{% endif %}>Блог</a>
            <a href="{% url 'home' %}"
               {% if request.path == 'home' %}class="header__item active"
               {% else %}class="header__item"{% endif %}>Сообщество</a>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url "lk" %}" class="header__profile">
                {{ request.user.username }}
                <div class="header__avatar">{{ request.user.username.0 }}</div>
            </a>
        {% else %}
            <div class="header__buttons">
                <a href="{% url 'start' %}">
                    <button class='button header__button' id="login-button">
                        <div class="button__inner">
                            Тренироваться
                            <img src='../static/images/bolt.svg' alt="" class="button__icon">
                        </div>
                    </button>
                </a>
                <button class='button header__button _clear' id="login-button" onclick=loginModal()>
                    <div class="button__inner">
                        Войти
                        <img src='../static/images/login-icon.svg' alt="" class="button__icon">
                    </div>
                </button>
            </div>
        {% endif %}
        <div class='header-mobile__button hidden' onclick="mobileOpened()" id="button-menu-mobile">
            <div class="header-mobile__line line"></div>
        </div>
        <div class='header-mobile__menu hidden' id="menu-mobile">
            <a href="{% url 'trainers' %}"
               {% if "trainers" in request.path %}class="header__item active"
               {% else %}class="header__item"{% endif %}>Тренеры</a>
            <a href="{% url 'programs' %}"
               {% if "programs" in request.path %}class="header__item active"
               {% else %}class="header__item"{% endif %}>Программы</a>
            <a href="{% url 'blog' %}"
               {% if "blog" in request.path %}class="header__item active"
               {% else %}class="header__item"{% endif %}>Блог</a>
            <a href="{% url 'home' %}"
               {% if request.path == 'home' %}class="header__item active"
               {% else %}class="header__item"{% endif %}>Сообщество</a>
            {% if user.is_authenticated %}
                <a href="{% url 'lk' %}" class="header__profile" href="{% url 'lk' %}"
                   class="header__profile" onclick="mobileOpened()">
                    {{ request.user.username }}
                    <div class="header__avatar">{{ request.user.username.0 }}</div>
                </a>
            {% else %}
                <div class="header-mobile__buttons">
                    <a href="{% url "start" %}">
                        <button class='button header__button' id="login-button"
                                onclick="mobileOpened()">
                            <div class="button__inner">
                                Тренироваться
                                <img src='../static/images/bolt.svg' alt="" class="button__icon">
                            </div>
                        </button>
                    </a>
                    <button class='button _clear header__button last' onclick="mobileOpened(); loginModal()">
                        <div class="button__inner">
                            Войти
                        </div>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</header>
<div class="purchase page">
    <div class="purchase__inner wrapper">
        <h2 class="purchase__title">
            Начни тренироваться сейчас, <br/> сделай вклад в своё здоровье
        </h2>
        <p class="purchase__subtitle _18 center">
            Сбалансированное питание, тренировки, помощь куратора <br/> нашей
            платформы, поддержка других участников. <br/><b>Итог: ваша цель достигнута</b>
        </p>
        <div class="purchase__box">
            <div class="purchase__item">
                <p class="purchase__item-top _18">Тариф</p>
                <p class="purchase__item-title">3 МЕСЯЦА (ПОДПИСКА)</p>
                <ul class="purchase__item-list">
                    <li class="purchase__item-li">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                </ul>
                <div class="purchase__item-box">
                    <div class="purchase__item-price">2490 р.</div>
                    <div class="purchase__item-price purchase__item-price-old">9490 р.</div>
                </div>
                <button class='button purchase__button' onclick="secondModal()">
                    <div class="button__inner">
                        тренироваться
                    </div>
                </button>
            </div>
            <div class="purchase__item">
                <p class="purchase__item-top _18">Тариф</p>
                <p class="purchase__item-title">12 МЕСЯЦЕВ (ПОДПИСКА)</p>
                <ul class="purchase__item-list">
                    <li class="purchase__item-li">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                </ul>
                <div class="purchase__item-box">
                    <div class="purchase__item-price">2490 р.</div>
                    <div class="purchase__item-price purchase__item-price-old">9490 р.</div>
                </div>
                <button class='button purchase__button' onclick="thirdModal()">
                    <div class="button__inner">
                        тренироваться
                    </div>
                </button>
            </div>
            <div class="purchase__item">
                <p class="purchase__item-top _18">Тариф</p>
                <p class="purchase__item-title">БЕЗЛИМИТ НАВСЕГДА</p>
                <ul class="purchase__item-list">
                    <li class="purchase__item-li">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li class="purchase__item-li">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                </ul>
                <div class="purchase__item-box">
                    <div class="purchase__item-price">2490 р.</div>
                    <div class="purchase__item-price purchase__item-price-old">9490 р.</div>
                </div>
                <button class='button purchase__button' onclick="firstModal()">
                    <div class="button__inner">
                        тренироваться
                    </div>
                </button>
            </div>
        </div>
        <div class="video">
            <div class="video__left">
                <button class='button video__button'>
                    <div class="button__inner">
                        видео о проекте
                        <img src='../static/images/play-circle.svg' alt="" class="button__icon">
                    </div>
                </button>
            </div>
            <div class="video__right">
                <h2 class="video__title left">
                    С чего начинается ваш
                    <span class="underline small">результат</span>?
                </h2>
                <p class="_18 video__desc">
                    Вы давно мечтаете похудеть, нарастить <br/> мышечную массу или сформировать
                    красивый рельеф? С платформой SmartFit вам откроются новые возможности
                    онлайн-фитнеса с гарантированным результатом! <br/> <br/>
                    Наша команда тренеров с многолетним опытом подготовила программы
                    видеотренировок для различных целей: похудение, набор массы, рельеф,
                    растяжка и многое другое. <br/> <br/>
                    Ваш результат начинается со SmartFit! Создайте тело мечты!
                </p>
            </div>
        </div>
        <VideoSection/>
    </div>
    <div class="reviews">
        <div class="reviews__inner wrapper">
            <h2 class="reviews__title center">
                <span class="underline small">Отзывы</span>
            </h2>
            <p class="_18 reviews__subtitle center">Вот что о нас говорят подопечные</p>
            <div class="reviews__box">
                <div class="wrapper">
                    <div class='carousel reviews'>
                        <div class="carousel__inner">
                            <div class="carousel__swiper swiper-container reviews">
                                <div class="swiper-wrapper">
                                    {% for i in reviews %}
                                        <div class="swiper-slide">
                                            <div class='review-slide'>
                                                <div class="review-slide__frame" style='
                                                        background-image: url("/media/{{ i.image }}")'>
                                                </div>
                                                <div class="review-slide__info">
                                                    <p class="review-slide__name">{{ i.name }}</p>
                                                    <p class="review-slide__text _16">{{ i.text }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='carousel__arrows'>
                        <div class='carousel__arrow-prev carouser__arrow reviews__prev'></div>
                        <div class='carousel__arrow-next carouser__arrow reviews__next'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="questions">
        <div class="wrapper questions__inner">
            <h2 class="questions__title">
                Остались <span class="underline small">вопросы</span>?
            </h2>
            <p class="questions__subtitle _18 center">Мы собрали самые часто задаваемые вопросы для вас</p>
            <div class="questions__box">
                {% for i in questions %}
                    <div class="questions__item" onclick="handler({{ forloop.counter }}-1)">
                        <div class="questions__item-top">
                            <p class="questions__item-title">{{ i.title }}</p>

                            <img src="../static/images/cross.svg" alt="" class='questions__item-button'>
                        </div>
                        <div class='questions__item-body'>
                            {{ i.body }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer__main">
        <div class="wrapper footer__inner">
            <div class="footer__links">
                <a class="footer__link" href="{% url 'trainers' %}">
                    Тренеры
                </a>
                <a class="footer__link" href="/">
                    Сообщество
                </a>
                <a class="footer__link">Соглашение</a>
                <a class="footer__link" href="{% url 'programs' %}">
                    Программы
                </a>
                <a class="footer__link" href="{% url 'start' %}">
                    Тарифы
                </a>
                <a class="footer__link">Обработка данных</a>
                <a class="footer__link" href="{% url 'blog' %}">
                    Блог
                </a>
                <a class="footer__link">Тренерам</a>
                <a class="footer__link">Свяжитесь с нами</a>
                <a class="footer__link"></a>
            </div>
            <div class="footer__payment">
                <p class="footer__link n">Способы оплаты на сайте:</p>
                <div class="footer__payment-row">
                    <img src="../static/images/payment/mir.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/visa.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/mc.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/maestro.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/alpha.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/pay-pal.svg" alt="" class="footer__payment-icon"/>
                </div>
                <div class="footer__payment-row second">
                    <img src="../static/images/payment/google.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/apple.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/tele2.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/yandex.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/mts.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/beeline.svg" alt="" class="footer__payment-icon"/>
                    <img src="../static/images/payment/qiwi.svg" alt="" class="footer__payment-icon"/>
                </div>
            </div>
            <div class="footer__misc">
                <a class="footer__logo-link" href="/">
                    <img src="../static/images/logo-gray.svg" class="footer__logo">
                </a>
                <div class="footer__socials">
                    <a href="" class="footer__social">
                        <img src="../static/images/instagram.svg" alt="" class="footer__social-icon"/>
                    </a>
                    <a href="" class="footer__social">
                        <img src="../static/images/youtube.svg" alt="" class="footer__social-icon"/>
                    </a>
                    <a href="" class="footer__social">
                        <img src="../static/images/vk.svg" alt="" class="footer__social-icon"/>
                    </a>
                    <a href="" class="footer__social">
                        <img src="../static/images/telegram.svg" alt="" class="footer__social-icon"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__creds">© 2022 SMARTFIT. Все права защищены</div>
</footer>
</body>
<script>
    const mobileOpened = () => {
        const buttonMobileMenu = document.getElementById('button-menu-mobile')
        buttonMobileMenu.classList.toggle('hidden')
        buttonMobileMenu.classList.toggle('opened')
        const mobileMenu = document.getElementById('menu-mobile')
        mobileMenu.classList.toggle('hidden')
        mobileMenu.classList.toggle('opened')
    }
    const crosses = document.querySelectorAll(".questions__item-button")
    const questions = document.querySelectorAll(".questions__item-body")
    const handler = (index) => {
        for (let j = 0; j < crosses.length; j++) {
            if (crosses[j] !== crosses[index]) {
                crosses[j].classList.remove("_opened")
                questions[j].classList.remove("_opened")
            }
            crosses[index].classList.toggle("_opened")
            questions[index].classList.toggle("_opened")
        }
    }
    const loginModal = () => {
        const loginModal = document.getElementById('login-modal-box')
        const loginBackground = document.getElementById("login-modal-background")
        loginModal.classList.toggle('modal-disabled')
        loginBackground.classList.toggle('modal-disabled')
    }
    const firstModal = () => {
        const firstModal = document.getElementById('first-modal-box')
        const firstBackground = document.getElementById("first-modal-background")
        firstModal.classList.toggle('modal-disabled')
        firstBackground.classList.toggle('modal-disabled')
    }
    const secondModal = () => {
        const secondModal = document.getElementById('second-modal-box')
        const secondBackground = document.getElementById("second-modal-background")
        secondModal.classList.toggle('modal-disabled')
        secondBackground.classList.toggle('modal-disabled')
    }
    const thirdModal = () => {
        const thirdModal = document.getElementById('third-modal-box')
        const thirdBackground = document.getElementById("third-modal-background")
        thirdModal.classList.toggle('modal-disabled')
        thirdBackground.classList.toggle('modal-disabled')
    }
</script>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'

    var galleryTop = new Swiper('.reviews', {
        centeredSlides: false,
        loop: false,
        slidesPerView: "auto",
        spaceBetween: 40,
        navigation: {
            nextEl: `.reviews__next`,
            prevEl: `.reviews__prev`,
        },
    });

</script>
</html>